/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    color: white;
}

/* Main centralizado */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card branco central */
section {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Message */
#message {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* Image */
#photo-container img {
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    color: white;
}